:root {
    --cor1: rgb(153, 2, 2); 
    --cor2: rgb(88, 1, 1);
    --cor3:  rgb(228, 10, 21);
 }
 
 * {
     margin: 0;
 }

 @font-face {
    font-family: 'Germanica';
    src: url('Germanica.ttf');
}

 body {
     background-color: var(--cor1);
     
     
 }

 header {
    position: relative;
    background-color: rgba(255, 255, 255, 0.932);
    padding: 30px;
 }

 header img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
 
 header > h1 {

    font-family: 'Germanica', sans-serif;
    color: rgb(202, 45, 45);
    font-size: 3em;
    text-align: left;
    text-decoration: underline;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);

 }

 iframe {

    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 2px solid black;
 }


 #trocarVideo {

    color: white;
    padding: 5px;
    background-color: var(--cor3);
 }
