:root {
   --cor1: rgb(153, 2, 2); 
   --cor2: rgb(88, 1, 1);
   --cor3:  rgb(230, 3, 41);
}

* {
    margin: 0;
}
body {
    background-color: var(--cor1);
    
    
    
}

@font-face {
    font-family: 'Germanica';
    src: url('Germanica.ttf');
}

header {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    background-image: url(img/teste3.jpg);
    padding: 35px;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 100%;
    backdrop-filter: brightness(1);
    

}

nav {

    
    padding: 5px;
    background-color: var(--cor3);
}

nav a {
    padding-left: 20px;
    font-size: 1.1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

nav a:hover {

    color: var(--cor1);
}

header h1 {
    
    font-family: 'Germanica', sans-serif;
    color: rgb(202, 45, 45);
    font-size: 3em;
    text-align: right;
    text-decoration: underline;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}

main {
    
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    
    width: 60%;
    margin: 80px auto 200px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;

}
main h1 {
    font-family: 'Germanica';
    font-size: 2.4em;
    color: red;
    margin-top: 0;
    text-align: left;
    margin-left: 0;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-style: solid;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.9);
}


main article img {

    display: block;
    width: 200px;
    margin: 20px auto 0px auto;
}


main > article > a {

    display: block;
    background-color: red;
    width: 20%;
    padding: 10px;
    border-radius: 7px;
    color: white;
    margin: 50px auto 0px auto;
    text-decoration: none;
    

}


p {
    margin-bottom: 7px;
    text-align: justify;
    
}

